extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_chitral.css
block content
    section#topsec 
        h1 EXPLORE CHITRAL WITH US IN 7 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: TIRICH MIR
                    h4 One of the tallest peaks in all mountain ranges is Tirich Mir, which is also the highest in Hindu Kush Mountain Range. It is almost at an elevation of 7,708 m (25,289 ft.). Moreover who so ever visits the Chitral valley must witness the dawn and dusk at this peak. 
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: CHITRAL MUSEUM 
                    h4 Every place has its own unique culture and art that is preserved in different forms. Museum is truly a preserver of its ancestor’s art that is left for future. The Museum built on 8 July 2010 and the main idea was to maintain the cultural heritage for tourist. 
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: SHAHI MASJID
                    h4 Shahi Masjid, a piece of magnificent architecture. The Shahi Masjid was built by Shujaul Mulk in 1924 A.D. Shujaul Mulk was the Mehtar of Chitral or more to say the ruler of Chitral from 1895 to 1936. The building of the Masjid is truly an amazing piece of architecture.
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: SHAHI QILA 
                    h4 Moving in the area of Shahi Masjid, you shall encounter the majestic Shahi Qila. Shahi Qila or the Chitral Fort is built for the residence of Raja Nadir Shah in the 14th Century. Lately, it was restored by Shah Afzal II in 1977.
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: GARAM CHASHMA
                    h4 Exploring the mysterious land of Chitral, Garam Chashma is also the most favourite and popular spot of Chitral. Gram Chashma as described by the name offers hot water in springs as well. Usually, all of Chashma bears cold water but it is unique in its way. 
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: BARMOGHLASHT 
                    h4 Nestled in between the gigantic mountains and richly green land, Barmoghlasht is one of the famous summer resorts in Chitral.  Located at a distance of 14. 5 kilometres away from the Chitral. Tourists preferred to visit the place in both seasons.
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: AYUN VALLEY
                    h4 Another valley in Chital alongside the Chitral River is Ayun Valley. A perfect picnic spot in Chitral that is surrounded by the immense peaks and in between the choppy water id Chitral River with grassy land makes a perfect combination to give ease to your soul.
        div.box15
            div.box
        
                