extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_hunza.css
block content
    section#topsec 
        h1 EXPLORE HUNZA WITH US IN 7 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: ATTABAD LAKE
                    h4 Attabad Lake is a gorgeous spot in Hunza located inside the enormous heaps of Karakoram. The crystal clear water with a bit of turquoise color makes the lake worth visiting. The unique charm and vibrant colors add beauty to its existence. 
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: KARIMABAD
                    h4 Karimabad, one of the most staggering villages of Hunza Valley, invites you to its brilliant sand and hypnotizing scenes of nature. The place is embellished with colorful and vibrant cherry and apricot trees offering a relaxed yet funky vibe. 
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: PASSU CONES 
                    h4 Passu Cones are only some implied mountains in the Karakoram Range Hunza valley. Almost all our Hunza Tour packages include this great tourism spot to ensure no one misses such a beautiful piece of land.
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: SHIMSHAL
                    h4 Also known as the valley of mountaineers, the Shimshal valley is just about 3,100 m above the level. It is situated in Gojal of Hunza Valley. Furthermore, It’s the border area of Gilgit-Baltistan, Pakistan, which connects directly with China.
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: KHUNJERAB PASS
                    h4 Khunjerab Pass is a high mountain pass of Hunza Valley which is around 3 hour’s drive far from Karimabad Hunza. It borders China and Pakistan and is situated at edge of Hunza. It’s located on the northern line of Pakistan with Republic of China.
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: BALTIT FORT
                    h4 Baltit Fort is one of the most established forts of Hunza Valley with a rich history of the traditions and famous people living once with it. It is located at the highest point of the Bazaar.
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: ALTIT FORT
                    h4 Altit Fort is quite an old fort located in Hunza Valley right above Karimabad. The Mirs used to live in this place and were the innate rulers of the Hunza State. Something like a long time back, Altit Fort was the residence of a previous ruler. 
        div.box15
            div.box
        
                