extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_murree.css
block content
    section#topsec 
        h1 EXPLORE MURREE WITH US IN 8 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: MALL ROAD
                    h4 First and foremost is Mall Road that is the most famous marketplace in Murree. Here you will find all the unique items of Murree. The road opens till 3 am usually, people love to walk over there to enjoy the pleasant weather with yummy food items as well. 
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: PINDI POINT
                    h4 Second, on the list of places must visit in Murree,  is Pindi Point almost 15 minutes’ walk from Mall Road. Tourists love to take a Chairlift ride that takes them down to 1.5 km from Pindi Point to Bansara Gali. Moreover, the scenery of the chairlift is a marvellous experience. 
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: KASHMIR POINT
                    h4 Next on the list is the Kashmir Point that is full of serenity. Nearer to GPO and a fifteen minutes’ walk that will lead to Kashmir Point. A magnificent point in Murree offers tranquillity away from the hustle-bustle of main Murree. 
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: PATRIATA
                    h4 Becoming very famous with every single day, the new Murree as in Patriata approximately 15 kilometres away from the main Murree hills on the Lower Topa side. The hill station is newly constructed to cater for more of the visitor to the Murree. 
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: BHURBAN
                    h4 Bhurban became the most favourite tourist spot in Murree because of its lush green landscapes along with a pleasant environment that is full of calmness. And if you choose to stay in PC Bhurban then the treat is double. 
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: RAWAT
                    h4 Rawat is another picturesque location in Murree district. Most notably, Mohra darogha, moori khambaal, sood gangal, dhok amban, and others. Additionally, Rawat district is very well known for having the facility of basic medical treatment.
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: NATHIAGALI
                    h4 The Galliyat plays an important role in all Murree District and Nathiagali is the most visited Gali in Murree. For instance, Nathiagali is situated 35 kilometres from Murree and Abbottabad it is elevated at an altitude of 8400 ft.
        div.box15
            div.box

        div.box16
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 8: AYUBIA
                    h4 Next on the list is the Ayubia, it is the most visited spot after Nathiagali. It is the best picnic spot in Murree as it also possesses an Ayubia National Park which is elevated at 1,050 meters. Additionally, it is spread over 3,027 meters at the mountain tops within the valleys.
        div.box17
            div.box               