extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_naran.css
block content
    section#topsec 
        h1 EXPLORE NARAN WITH US IN 7 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: SAIF UL MALOOK
                    h4 A 9 kilometers long and 50 feet deep lake about 3224 high on the surface is the famous lake “Saif Ul Malook.” Saif ul malook is an epitome of immense beauty; it has been the most popular spot for years. Many old stories are related to the lake.
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: LULUSAR LAKE
                    h4 The highest point in the Kaghan valley is the home of this beautiful lake named Lulusar Lake. It is surrounded by the magnificent mountains of Kaghan valley and gives a panoramic view of about 3410 meters above sea level. 
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: ANSOO LAKE
                    h4 High in the Himalayan mountains, there is a beautiful lake shaped by a teardrop known as Ansoo Lake. The beautiful teardrop lake is situated above an elevation of 4,250m. Motors and vehicles can’t be taken to the lake.
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: SHOGRAN
                    h4 You can’t come back without paying a visit to the Shogran meadow in the Naran Valley. The weather has made Shogran a favorite spot for of people around the globe. If you want to enjoy a panoramic view and peaceful environment, then Shogran is your thing. 
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: BABUSAR TOP
                    h4 The widely visited place within Saif ul Malook is the beautiful tourist spot “Babusar Top .”It is above 4,173 meters above sea level, making it the most versatile spot in the Naran Kaghan tour packages. 
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: LALAZAR
                    h4 Babusar top is connected to the magnificent magical garden ranked as the best spot to have a picnic in Naran, known as Lalazar. It is high above sea level, and is located in Kaghan valley. Lalazar is a spot where you can enjoy your snack on the green ground.
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: MALIKA PARBAT
                    h4 The beautiful mountain known as Malika Parbat is the epitome of pure beauty. It is the highest elevation in the Naran Valley. It is about 5290 meters above sea level. The mountain remains covered with snow throughout the year. 
        div.box15
            div.box             