extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_skardu.css
block content
    section#topsec 
        h1 EXPLORE SKARDU WITH US IN 7 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: KHARPOCHO FORT
                    h4 Skardu has an ancient Fort known as Kharpocho Fort (King of Forts) situated on a hill overlooking the town. It was constructed by Ali Sher Khan Anchan, who ruled over Baltistan till the end of the 16th century.
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: SATPARA LAKE
                    h4 Satpara Lake About 8 km (5 miles) north of Skardu and 20 minutes by jeep lays Sadpara Lake, surrounded by glacial mountains. The lake has a fairytale island in the middle, which can be reached by country boats that one can row. 
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: SHANGRILA LAKE
                    h4 Shangrila Lake About 32 km (20 miles) from Skardu and 1 hour by jeep lies the shimmering peaceful deep Shangrila lake, also called Kachura Lake. During spring many exotic and colourful flowers adorn its banks, while peach, apricot and apple trees.
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: SHIGAR VALLEY
                    h4 The gateway to the great mountain peaks of the Karakorams, Gasherbrum, and K2, is only 23 km away from Skardu via jeep road. Shigar valley’s gentle, irrigated slopes are filled with terraces of wheat, maize and barley. 
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: KHAPLU VALLEY
                    h4 This beautiful valley of the Shyok River is 103 km east of Skardu. Khaplu is the starting point for most trekking and climbing expeditions. Many famous mountains such as Masherbrum, Saltoro, Sia Kangri, K-6, K-7 are here. 
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: KACHURA LAKE
                    h4 Kachura Lakes comprise of an upper Kachura lake and a lower, more well-known lake called the Shangrila Lake. It gets its name from Shangrila Resort, within which the lake is located. The Kachura lake is famous for its deep blue waters and brown trout.
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: DEOSAI
                    h4 The Deosai Plains are 32 km south of Skardu. This raised ground is the environment of the greatly threatened Himalayan Brown Bear and many other wild animals. Deosai is now a National Park and sheltered area for different animals.
        div.box15
            div.box
        
                