extends ../base.pug
block scripts 
    script(src="../../static/index.js")
block style
    style
        include ../../static/style.css
        include ../../static/Tours/style_swat.css
block content
    section#topsec 
        h1 EXPLORE SWAT WITH US IN 8 DAYS..
        form(action="/testtour" method="post" autocomplete="off")
            button(class=button id="button" type="submit") BOOK NOW
    section#midsec  
        div.box1
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 1: KUNDOL LAKE
                    h4 Near the colossal Hindu Kush mountains, the fascinating Kundol lake is located that beautifully welcomes vacationers. A novel blend of the green and white environment around you made of the snow, and lavish green backwoods will take your breath away.
        div.box3
            div.box

        div.box4
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 2: FIZAGHAT
                    h4 Fizaghat Park lies around 3.6 km away from Mingora Town. It is one of the most loved spots for tourism in our Swat Tour Packages, where you can enjoy the mesmerizing views and incredible surroundings.
        div.box5
            div.box

        div.box6
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 3: MALAM JABBA
                    h4 Malam Jabba is an elite ski resort in Pakistan situated at a distance of 51 km from Saidu Sharif Airport and 314 Km away from Islamabad. It lies near the Hindu Kush Mountains and is one of the most famous hills of Swat Valley.
        div.box7
            div.box

        div.box8
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 4: MAHUDAND LAKE
                    h4 Among all the must-visiting places of Swat, located in the Usho Valley of Kalam, Mahudand Lake is quite a charming place. The immense Hindu Kush Mountains make a total background with green pastures for setting up camp. 
        div.box9
            div.box

        div.box10
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 5: SAIDU SHARIF
                    h4 Saidu Sharif is the center of administration of Swat valley, giving every one of the accommodations to local people. The city’s name was given after a pioneer, Saidu Baba. Additionally, this city has numerous archeological destinations.
        div.box11
            div.box

        div.box12
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 6: MARGHUZAR
                    h4 Marghuzar is a little town of Swat that is usually spotted when you travel through the Swat valley. Marble Palace is the home of the Royal Swat Family, which is located in Marghuzar. Wali-e-Swat Jahanzeb constructed this royal residence in 1940. 
        div.box13
            div.box

        div.box14
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 7: BAHRAIN
                    h4 Bahrain is a hill station in Swat located at the riverside. Two different waterways flowing through Swat met in Bahrain, which is why it is named so. It is a bustling region with many sightseers visiting in all seasons of the year.
        div.box15
            div.box
        
        div.box16
            div.box
        div.box2
            div.box
            div#text
                    h1 Day 8: MADYAN
                    h4 Like all the other hill stations of Swat, Madyan enhances the beauty of Swat with its magnificent views. The travelers experience something beyond the Earth while wandering in Madyan, which makes them feel possessed by the valley. 
        div.box17
            div.box
                