doctype html
html 
    head 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Advance Tour Guides
        style 
            include ../../static/style.css
            include ../../static/Tours/style_showmybookings.css
        script
            include ../../static/index.js
    body 
        if message == " "
            nav#navbar.top    
                //- giving id=navbar and class=top  If you want to give multiple classes, do nav.top.first.second
                ul
                    div#logo  
                        img(src="../static/images/sitelogo.png")
                        | ATG
                    li #[a(href='/homeadmin') Home]
                        //- If you want to use li and a together
                    li #[a(href='/aboutadmin') About Us]
                    li #[a(href='/contact') Join Us]
                    li #[a(href='/logout' onclick="myFunc1()") Log Out]
        else
            nav#navbar.top    
                //- giving id=navbar and class=top  If you want to give multiple classes, do nav.top.first.second
                ul
                    div#logo  
                        img(src="../static/images/sitelogo.png")
                        | ATG
                    li #[a(href='/homeadmin') Home]
                        //- If you want to use li and a together
                    li #[a(href='/aboutadmin') About Us]
                    li #[a(href='/contact') Join Us]
                    li #[a(href='/logout' onclick="myFunc1()") Log Out]
                    li#serv #[a(href='/adminup') Services]
    section#siteintro
        div #[h1 WELCOME TO ADVANCE TOUR GUIDES]
        div.h3class #[h3 Travel Is An Investment In Yourself]
    section#vision 
        h3.vision OUR VISION 
    section#visions 
        div.vision1
            h1 HOTELS
            div.box
                div.boximg
                    img(src="../static/images/Hotel1.png")
                div.content
                    p #[strong HOTELS] are provided with #[strong MAXIMUM] discounts and #[strong EXTRAORDINARY] services. You must go through our #[strong WEBSITE] to explore more.
        div.vision1
            h1 FLIGHTS
            div.box
                div.boximg
                    img(src="../static/images/Flight1.png")
                div.content
                    p #[strong FLIGHTS] are provided with #[strong MAXIMUM] discounts and #[strong EXTRAORDINARY] services. You must go through our #[strong WEBSITE] to explore more.
        div.vision1
            h1 TOURS
            div.box
                div.boximg
                    img(src="../static/images/Tour.jpg")
                div.content
                    p #[strong TOURS] are provided with #[strong MAXIMUM] discounts and #[strong EXTRAORDINARY] services. You must go through our #[strong WEBSITE] to explore more.
        div.vision1
            h1 TRANSPORTATION
            div.box
                div.boximg1
                    img(src="../static/images/Deal1.png")
                div.content
                    p #[strong TRANSPORTATION] are provided with #[strong MAXIMUM] discounts and #[strong EXTRAORDINARY] services. You must go through our #[strong WEBSITE] to explore more.
    section#clientsintro
        h3.client POPULAR AMONG 
    section#clients
        div.client1 #[img(src="../static/images/4.jpg")]
        div.client1 #[img(src="../static/images/1.jpg")]
        div.client1 #[img(src="../static/images/3.jpg")]
        div.client1 #[img(src="../static/images/2.jpg")]
        div.client1 #[img(src="../static/images/5.jpg")]
        div.client1 #[img(src="../static/images/6.jpg")]
    footer#footer
            | Copyright @ 2022 AdvanceTourGuides.com